# PostgreSQL Configuration
POSTGRES_USER=your_user
POSTGRES_PASSWORD=your_password
POSTGRES_DB=your_db
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

# App Configuration
APP_NAME=FastAPIBackend
DEBUG=False

APP_ENV=development
AUTH_TOKEN_COOKIE_NAME=your_auth_token

# JWT
ACCESS_TOKEN_SECRET_KEY=
INVITE_TOKEN_SECRET_KEY=

# GITHUB AUTH
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
